#!/bin/sh

# System Name
SYSTEM_NAME="MiniDVBLinux"
# System Version
SYSTEM_VERSION="{VERSION}"
# System Type
SYSTEM_TYPE="{SYSTEM_TYPE}"
# Host Name
HOST_NAME="MLD"

# Logging und Kernel log level (0=deaktiviert Logging, 1=loggin in ramdisk, 2=loggin auf hdd, 3=erweiterte Fehlermeldungen auf Konsole, 3-8=kernel logging)
LOG_LEVEL="1"

# Login-prompt zeigen (deaktiviert silent splash screen)
SHOW_PROMPT="1"

# Letzter auszuführender Befehl vor dem Abschalten (z.B. "sleep 1000" um die letzten Meldungen in ruhe zu studieren)
POWEROFF_LAST_CMD=""

# Anzahl der Bootsteps für Fortschrittsanzeige
STARTSTEPS=20
STOPSTEPS=6
HALTSTEPS=2
RESUMESTEPS=1

### Local settings ###

