SUBSYSTEM!="input", GOTO="remote_event_grp_end"   
ATTRS{name}=="*dvb*|*DVB*|* IR *", ENV{ID_CLASS}="ir" GROUP="video" SYMLINK+="input/ir"
LABEL="remote_event_grp_end"
